.cardItem {
  display: grid;
  grid-template-rows: auto;
  border: 1px solid #e3e7eb;
  border-radius: 20px 20px 15px 15px;
}
.itemFirstSection {
  padding: 16px;
}
.trip {
  font-size: 12px;
  font-weight: 500;
  color: #5e6f7d;
  margin-bottom: 8px;
}
.tripName {
  font-size: 16px;
  font-weight: 600;
  color: #141d24;
  margin-bottom: 16px;
}
.tripDays,
.from {
  font-size: 14px;
  font-weight: 400;
  color: #5e6f7d;
}
.tripPrice {
  font-size: 16px;
  font-weight: 600;
  color: #141d24;
}
.itemSecondSection {
  display: flex;
  justify-content: space-between;
}
.from {
  display: flex;
  gap: 4px;
}
.cardImg {
  position: relative;
}
.bookMarkIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-shrink: 0;
}
.bookMarkIcon button {
  background-color: white;
  color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookMark {
  padding: 10px;
}
.favIconButton {
  position: absolute;
  top: 10px;
  left: 10px;
}
.favIconButton button {
  display: flex;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background-color: #4a21ef;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
}
