.blogTripContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 95px 120px 95px;

}
.blogTripContainer .topContainer{
    display: flex;
    gap: 24px;
}
.blogTripContainer .lowerContainer{
    display: flex;
    gap: 24px;
}