.italyMainContainer {
  width: 100%;
  margin-bottom: 120px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
.top_section {
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
  color: #fff;
}
.top_section h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 16px;
}
.top_section p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 24px;
}
.top_section button {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  background-color: #4a21ef;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
}

.bottom_section {
  position: absolute;
  bottom: 10%;
  left: 15%;
  display: flex;
  gap: 24px;
}
.frame_section {
  display: flex;
  gap: 16px;
  width: 190px;
  color: #fff;
  border-right: 1px solid #fff;
}
.frame_section:last-child {
  border-right: 0;
}
.frame_section img {
  width: 24px;
  height: 24px;
}
.frame_section h4 {
  margin-bottom: 16px;
}
