.navCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.navCardContainer img{
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
}
.navCardText {
  position: absolute;
  display: grid;
  color: white;
  gap: 16px;
}
.navCardText h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}
.navCardText p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
