.header {
  display: grid;
}
.valyuta{
  display: none;
}
.header .topSection {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
  justify-content: space-between;
  height: 45px;

  padding-left: 72px;
  padding-right: 72px;
}
.topSection div ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}
.topSection div ul a {
  text-decoration: none;
  color: #141d24;
  font-size: 14px;
}
.topSection .rightSide {
  display: flex;
  align-items: center;
}
.active-link {
  color: #4a21ef;
}
.bottomSection {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;
  align-items: center;
}
.bottomSection .bottomLeft {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 16px;
}
.bottomSection .bottomLeft a {
  text-decoration: none;
  color: #141d24;
}
.bottomSection .bottomRight {
  display: flex;
  gap: 20px;
}
.bottomSection .bottomRight button {
  background-color: white;
  color: #4a21ef;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: #4a21ef;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.bottomSection .bottomRight button:hover {
  background-color: #4a21ef;
  color: white;
}
.menuIcon,
.user {
  display: none;
}

.toggleValyuta{
  display: block;
  position: absolute;
  top: 50px;
  right: 72px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 24px;
  z-index: 1;
}
.toggleValyuta p{
  margin-bottom: 12px;
}
.toggleValyuta p:last-child{
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .header .topSection {
    display: none;
  }
  .header {
    width: 100%;
  }
  .bottomSection .bottomLeft {
    display: none;
  }
  .bottomSection .bottomRight {
    display: none;
  }
  .bottomSection {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menuIcon,
  .user {
    display: block;
  }
  .menuIcon {
    padding: 8px;
  }
  .user {
    padding: 8px;
    border-radius: 50%;
    border: none;
  }
  .toggle {
    position: absolute;
    top: 80px;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap:10px;
    z-index: 1;
    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .toggle a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #141d24;
  }
  .toggleUser {
    position: absolute;
    top: 80px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .toggleUser button {
    background-color: white;
    color: #4a21ef;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #4a21ef;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
}
