.whyUs{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    gap: 40px;
    margin-bottom: 120px;
    padding-left: 90px;
    padding-right: 90px;
}
.whyUs h1{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.whyUs .whySections{
    display: flex;
    gap: 25px;
  
}
.whySections .whyImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #4A21EF;
    border-radius: 50%;
}

.whySections .whyParts{
    display: flex;
    gap: 15px;
    background-color: #F5F7FA;
    padding: 32px;
    
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.whyParts p{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    
}