.footerSection{
    display: flex;
    background-color: #F5F7FA;
    padding: 80px 180px;
    align-items: center;
    gap: 10rem;
}
.footerSection .rightSide{
    display: flex;
    gap: 8rem;
}
.rightSide div ul li{
    list-style: none;
    margin-bottom: 8px;
}
.rightSide div ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.rightSide div ul p{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 16px;
}
.leftSide{
    font-size: 14px;
}
.leftSide .logo{
    width: 140px;
}
.leftSide .copy{
    font-size: 12px;
    margin-top: 60px;
}



.revolution .emailInput{
    border-radius: 25px;
    display: flex;
    border: 1px solid #C9D2DA;
    margin: 0 80px;
    padding: 8px 8px 8px 24px;
}
.revolution .mail{
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    flex: 3;
}
.revolution button{
    flex: 1;
    width: 100%;
    padding: 8px 16px;
    border-radius: 24px;
    background-color: #4A21EF;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.revolution{
    padding: 120px 0px;
    display: grid;
    justify-content: center;
    gap: 16px;
}
.revolution .join{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
}
.revolution .text{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.ourdestination{
    display: flex;
    justify-content: center;
    background-color: #4A21EF;
    height: 190px;
    align-items: center;
    gap: 20px;
}
.ourdestination p{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    
}
.ourdestination button{
    font-size: 16px;
    font-weight: 600;
    color: #4A21EF;
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.angle{
    color: #4A21EF;
}