.helpCardContainer{
    display: flex;
    background-color: #F5F7FA;
    padding: 32px;
    gap: 16px;
    width: 32%;
    border-radius: 20px;
}
.infoImg{
    padding: 0 18px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4A21EF;
    border-radius: 50%;
}
.helpText, .centerText{
    display: flex;
    flex-direction: row;
}

.helpText h4, .centerText h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.helpText p, .centerText p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.centerText{
    align-items: center;
}
.helpText h4{
    margin-bottom: 8px;
}