.destinationVideoContainer {
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.destinationVideoContainer img {
  border-radius: 20px;
  width: 100%;
}
.destinationVideoAbsoluteContainer {
  position: absolute;

  color: white;
}
.destinationVideoAbsoluteContainer h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}
.destinationVideoAbsoluteContainer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 120px;
}

@media screen and (max-width: 480px) {
  .destinationVideoContainer {
    margin: 15px auto;
    border-radius: 20px;
    overflow: hidden;
    width: 95%;
    /* padding: 0 15px; */
  }
  .destinationVideoContainer img {
    width: max-content;
  }
  .destinationVideoAbsoluteContainer h1 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .destinationVideoAbsoluteContainer p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}
